#!/bin/sh
set -e 

PACKAGE=ncurses

case "$1" in
  build)
    ./configure --host=arm-linux \
      CC=agcc CXX=ag++ LDFLAGS="-Wl,-dynamic-linker,/$BASEDIR/bin/linker" \
      --prefix=/$BASEDIR \
      --with-shared --with-termlib
    sed -i 's@#define HAVE_LOCALE_H 1@/* #undef HAVE_LOCALE_H */@' include/ncurses_cfg.h
    make
    ;;

  install)
    rm -rf ~/tmp/$PACKAGE
    mkdir ~/tmp/$PACKAGE
    DESTDIR=~/tmp/$PACKAGE
    make install DESTDIR=$DESTDIR

    # -devel package
    DEVEL_DESTDIR=~/tmp/$PACKAGE-devel
    rm -rf $DEVEL_DESTDIR
    mkdir -p $DEVEL_DESTDIR/$BASEDIR/lib $DEVEL_DESTDIR/$BASEDIR/bin
    mv $DESTDIR/$BASEDIR/lib/*.{a,so} $DEVEL_DESTDIR/$BASEDIR/lib
    mv $DESTDIR/$BASEDIR/include $DEVEL_DESTDIR/$BASEDIR
    mv $DESTDIR/$BASEDIR/bin/ncurses5-config $DEVEL_DESTDIR/$BASEDIR/bin
    mv $DESTDIR/$BASEDIR/man $DEVEL_DESTDIR/$BASEDIR/man
    mkdir -p $DEVEL_DESTDIR/CONTROL
    cp opkg/control-devel $DEVEL_DESTDIR/CONTROL/control
    opkg-build -o 0 -g 0 -b $BASEDIR $DEVEL_DESTDIR `cd .. ; pwd`
    ;;

  clean)
    make clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
