#!/bin/sh
set -e 

PACKAGE=ncurses

case "$1" in
  build)
    ./configure --host=arm-linux \
      CC=agcc LDFLAGS="-Wl,-dynamic-linker,/data/data/org.woltage.irssiconnectbot/files/bin/linker" \
      --prefix=/data/data/org.woltage.irssiconnectbot/files \
      --with-shared --with-termlib
    sed -i 's@#define HAVE_LOCALE_H 1@/* #undef HAVE_LOCALE_H */@' include/ncurses_cfg.h
    make
    ;;

  install)
    rm -rf ~/tmp/$PACKAGE
    mkdir ~/tmp/$PACKAGE
    DESTDIR=~/tmp/$PACKAGE
    make install DESTDIR=$DESTDIR

    # -devel package
    DEVEL_DESTDIR=~/tmp/$PACKAGE-devel
    rm -rf $DEVEL_DESTDIR
    mkdir -p $DEVEL_DESTDIR/data/data/org.woltage.irssiconnectbot/files/lib $DEVEL_DESTDIR/data/data/org.woltage.irssiconnectbot/files/bin
    mv $DESTDIR/data/data/org.woltage.irssiconnectbot/files/lib/*.{a,so} $DEVEL_DESTDIR/data/data/org.woltage.irssiconnectbot/files/lib
    mv $DESTDIR/data/data/org.woltage.irssiconnectbot/files/include $DEVEL_DESTDIR/data/data/org.woltage.irssiconnectbot/files
    mv $DESTDIR/data/data/org.woltage.irssiconnectbot/files/bin/ncurses5-config $DEVEL_DESTDIR/data/data/org.woltage.irssiconnectbot/files/bin
    mv $DESTDIR/data/data/org.woltage.irssiconnectbot/files/man $DEVEL_DESTDIR/data/data/org.woltage.irssiconnectbot/files/man
    mkdir -p $DEVEL_DESTDIR/CONTROL
    cp opkg/control-devel $DEVEL_DESTDIR/CONTROL/control
    opkg-build -o 0 -g 0 -b data/data/org.woltage.irssiconnectbot/files $DEVEL_DESTDIR `cd .. ; pwd`
    ;;

  clean)
    make clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
